<!DOCTYPE html>
<html>
    <head>
        <title>Animal Pictures</title>

        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        {{ template "global-css" . }}
    </head>

    <body>
        <div class="container bg-white top-margin padded">
            <p>{{ if .LoggedIn }}Welcome {{ .Self.Username }}{{ else }}You are not logged in, <a href="/login/">log in here</a>.{{ end }}</p>
            {{ range .Posts }}<p><a href="/post/{{ .UUID }}">{{ .Title }} - {{ .Description }}</a></p>{{ end }}
        </div>

        {{ template "global-js" . }}
    </body>
</html>
