<!DOCTYPE html>
<html>
    <head>
        <title>Animal Pictures</title>

        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        {{ template "global-css" . }}
    </head>

    <body>
        <div class="container bg-white top-margin padded">
            <h1 class="title">Animal Pictures</h1>
            <p>{{ if .LoggedIn }}Welcome {{ .Self.Username }}, would you like to <a href="/post/new">create a post</a>?{{ else }}You are not logged in, <a href="/login/">log in here</a> to be able to create posts.{{ end }}</p>
            {{ range .Posts }}<p>Score: {{ .Score }} - <a href="/post/{{ .UUID }}">{{ .Title }}</a> - {{ .Description }} - by <a href="/user/{{ .Owner.UUID }}">{{ .Owner.Username }}</a></p>{{ end }}
        </div>

        {{ template "global-js" . }}
    </body>
</html>
